* {
    margin: 0;
    padding: 0;
}

html {
    background-color: #fff;
}

ul {
    list-style: none;
}

ul, li { 
    /*border: 1px orange dotted;*/
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.title {
    font-size: 3rem;
    margin-bottom: .75rem;
    color:rgb(2, 17, 66);
    text-shadow: 2px 2px 5px rgba(2, 17, 66, .4);
}

.author-name {
    font-size: 1.25rem;
    margin-bottom: 2rem;
    color: #EDE90C;
}

.title,
.author-name {
    text-align: center;
    color: rgb(2, 17, 66);
}

.article-text {
    font-size: 1.2rem;
    color: rgb(2, 17, 66);
}

.post-wrapper {
    background-color: #fff;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input,
textarea {
    display: block;
    width: 25rem;
    height: 2.5rem;
    font-size: 1.25rem;
    padding: .33rem;
    border-radius: .5rem;
    border: .15rem #EDE90C solid;
}

textarea {
    height: 10rem;
    font-size: 1.5rem;
}

label {
    text-align: center;
    font-size: 1.33rem;
}

.btn {
    width: 12rem;
    height: 3rem;
    margin: .5rem;
    font-size: 1.33rem;
    background-color: rgba(100, 219, 255, 0.705);
    border: .25rem solid #EDE90C;
    border-radius: .5rem;
}

.btn:last-child {
    width: 6rem;
    height: 2rem;
    font-size: 1rem;
    background-color: #f2f2f2;
    opacity: .33; 
}

.btn:hover {
    background-color: #EDE90C;
    border: .25rem solid rgba(100, 219, 255, 0.705);
    opacity: 1;
}

input:hover,
textarea:hover {
    background-color: rgba(246, 255, 125, 0.616);
}

input:focus,
textarea:focus {
    background-color: rgba(100, 219, 255, 0.705);
    border: .33rem solid #EDE90C;
    outline: none;
}

#title {
    text-align: center;
    font-size: 2.5rem;
    color: red;
}

#cover-photo {
    max-width: 38rem;
    border: 1px red solid;
}