.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin: 3rem auto;
    padding: 0rem;
    max-width: 80vw;
    overflow: hidden;
    justify-content: center;
}

.container > div {
    flex: 1;
}

.container > div:first-child {
    margin-right: 1rem;
    /* width: 30rem; */
    min-width: 20rem;
}

.container > div:nth-child(2) {
    /* max-width: 35rem; */
}


p {
    line-height: 1.3rem;
    padding-bottom: .75rem;
}

h1 {
    text-align: left;
    font-size: 1.5rem;
    margin-bottom: .75rem;
}

h2 {
    font-size: 2.5rem;
    padding-bottom: .75rem;
}

.flex {
    border: 2px red solid;
}

@media only screen and (max-width: 600px) {
    p {
        line-height: 1.6rem;
    }
}