.flex {
    display: flex;
    max-width: 90vw;
    margin: 2px auto;
    justify-content: center;
    /* border: 1px red solid; */
    flex-wrap: wrap;
    color: orange;
    text-align: center;
    font-size: 4rem;
}

.flex:last-child {
    margin-bottom: 10rem;
}